body {
    background-color: #0d1117;
}

.centerPiece {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #c9d1d9;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
